{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "trimTrailingWhitespace": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
